.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to left,#42275a, #734b6d)

    
}
.home-container{
    padding: 40px;
  




}
.title {
    margin-top:0px;
    margin-bottom:300px ;
    align-items: center;
    
    color:#3c195a;
  
  }
  .title2{
    margin-top: 0px;
    margin-bottom:300px ;
    
    color:#F1E3F3;

 

  } 
  .description {
    
    margin-bottom:600px;
    color: #a467da;
    
  }
  
  .title3{
    margin-top: 0px;
    margin-bottom:300px ;
    align-items: 40px;
    align-items: 60px;
    color:#F1E3F3;
  

  }

  .history-container{
    padding: 40px;
  

  }
  .his

  

footer{
    background-color:transparent;
    color: #080808;
    padding: 2rem 0; 

    .footer-conteriner {
        display: flex;
        flex-direction: row;
        max-width: 1110px;
        justify-content: space-around;
        margin: auto;




    }
}



.app-navbar {
    background-color : transparent;
    color: #F1E3F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;//topo botton left rigt |_|
    .navbar-items{
        display: flex;
        list-style: none ;
        align-items: center;
        gap: 2rem;

        .nav-links{
            text-decoration: none;
            color:#bee1e6;
            &:hover{
                color:#cddafd;
                font-size: 20px;
            }
        }

    }
}
//.navbar-items .app-navbar{//figlio

//}

//.app-navbar.app-navbar{//due classi che fanno parte dello stesso div 

//}